#table1 {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 60px;
}

td:hover {
    background-color: darkgreen!important;
    transform: scale(1.1);
}

.odd:nth-child(odd) {
    background-color: black;
    color: white;
}
                                /*===FIXES FOREGROUND AND BACKGROUND FOR BOTH SHADES===*/
.even:nth-child(even) {
    background-color: black;
    color: white;
}

div+p {
    color: blue;
}

[colspan] {
    background-color: brown!important;
}

p:nth-child(2) {
    color:green;
}

p:nth-of-type(2) {
    color: purple;
}